@import "tailwindcss";

@theme {
    --color-primary: #00FF00;
    --spacing-120: 120px;
    --container-8xl: 2000px;
    --shadow-custom: 10px 35px  30px 10px red;
    --breakpoint-3xl: 2000px;
}
@layer utilities {
  @keyframes wiggle {
    0%, 100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }

  .animate-wiggle {
    animation: wiggle 0.3s ease-in-out infinite;
  }
}